body {
    background-color: rgb(184, 153, 224);
}


.container-boton{
    display: flex;
    
    background-color: #60089b;
    background-size: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius:  30%;
    bottom: 10px;
    right: 20px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 2s infinite;
   }

.container-boton:hover{
transform: scale(1.1);
transition: 0.3s;
}

.carro{
   width: 60px;
   height: 60px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgb(99, 49, 146);
    }
    100%{
        box-shadow: 0 0 0 20px rgb(158, 95, 218);
    }
}
.dropdown-item{
    font-weight: bolder;
   
    
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-size: 20;
    color: rgb(244, 242, 247);
    font-weight: bolder;
    text-decoration:wavy;
    text-align: center;
}


.menu {
    margin: 0;
    margin-top: 10px;
    
    background-color: rgb(169, 66, 230);

    
}
/* organización de los items que estan como menu
*/
nav {
    display: flex ;
    font-weight: bold;
    text-align: center;
    
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5% ;
    padding-right: 5% ;
    margin: 0 ;
    height: 50px;
    }
    
    ul li{
        display: inline-block;
        padding: 0px 0px;
        align-items: center;
        
        
    }
    
    /*color del texto dentro del nav
    */
    nav a{
        
        color: white;
        text-decoration:none;
    
    }
    
    /*efecto que obtiene el menu cuando se sobrepone el mouse antes de dar click
    */
    nav ul li:hover{
        background-color: #9e65e9;
        color: #fff;
        border-radius: 20px;
       
       
    }
    
   
    
    /*todo el css aplicado a la imagen principal
    */
    .encabezado-img{
        display: flex;
        background-image: url(img.logo/Slide\ principal.png);
        margin: 0;
        margin-top: 10px;
        height: 400px;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #1d0236;
        
    }
 /*imagen de descuento
    */
    .encabezado-descuento{
        display: flex;
        background-image: url(img.logo/descuento-2.png);
        margin: 0;
        margin-top: 10px;
        height: 450px;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #1d0236;
        
    }
    
.row {
    margin-top: 20px;
    background-color: #be92e7;
    justify-content: center;
}

.col-lg-3{
    width: 30%;
}

.col-lg-4{
    width: 25%;
}


img {
    height: 200px;
    width: 200px;
    transition: 0.5s;
    object-fit: cover;
    
}

img:hover{
    transform: scale(1.2);
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

h4 {
    font-size: 14;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;

}

.card{
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgb(99, 49, 146);
    background-color: #c9b4e6;
}

.card:hover{
    background-color: #c198e7;
}

.dropdown {
    margin-top: 10px;
}

a {
    margin-top: 10px;
    margin-left: 10px;
}


.form-check {
    margin-left: 0px;
}

#Button {
    text-align: end;
}

.mapa iframe{
    width: 100%;
    aspect-ratio: 1.2;
    margin-top: 10px;
}


footer p {
    font-size: 16;
    color: white;
    background-color: blueviolet;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: white;
    text-align: right;
    margin-top: 20px;


}

@media screen and (min-width: 0px) and (max-width: 672px) {
    .encabezado-img{
        background-image: url(img.logo/android-chrome-512x512.png);
    }
    .card{
        width: 90%
    }
    .col-lg-3{
        width: 90%;
    }
    .col-lg-4{
        width: 90%;
    }
}

@media screen and (min-width: 673px) and (max-width: 990px) {
    .card{
        width: 100%
    }
    #section{
        width:40%;
    }
    .row{
        justify-content: center;
    }
    .col-lg-3{
        width: 50%;
    }
    .col-lg-4{
        width: 50%;
    }
}
