body {
    background-color: rgb(199, 199, 248);
}

h1 {
    font-size: 24;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-size: 20;
    color: blueviolet;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}
/* organización de los items que estan como menu
*/
nav {
    display: flex ;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5% ;
    padding-right: 5% ;
    margin: 0 ;
    height: 50px;
    }
    
    ul li{
        display: inline-block;
        padding: 0px 0px;
        align-items: center;
        
    }
    
    /*color del texto dentro del nav
    */
    nav a{
        
        color: white;
        text-decoration: none;
    
    }
    
    /*efecto que obtiene el menu cuando se sobrepone el mouse antes de dar click
    */
    nav ul li:hover{
        background-color: #9e65e9;
        color: #fff;
        border-radius: 20px;
       
       
    }
    
    .menu {
        margin: 0;
        margin-top: 10px;
        background-color: rgb(182, 182, 250);
      
        
    
    }
    
    /*todo el css aplicado a la imagen principal
    */
    .encabezado-img{
        display: flex;
        background-image: url(img.logo/Slide\ principal.png);
        margin: 0;
        margin-top: 10px;
        height: 400px;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #1d0236;
        
    }
    
.row {
    margin-top: 20px;

}



img {
    height: 200px;
    width: 200px;
    transition: 0.5s;
    object-fit: cover;
    
}

img:hover{
    transform: scale(1.2);
}

h3 {
    margin-top: 10px;
}

h4 {
    font-size: 14;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;

}

.dropdown {
    margin-top: 10px;
}

a {
    margin-top: 10px;
    margin-left: 10px;
}

div {
    margin-right: 10px;
    margin-left: 100px;
}



.form-check {
    margin-left: 0px;
}

#Button {
    text-align: end;
}


footer p {
    font-size: 16;
    color: white;
    background-color: blueviolet;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: white;
    text-align: right;
    margin-top: 20px;


}